@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

.footerRes{
    width:100%;
    height:20vh;
    background: #232323;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    font-size: 1.7vw;
    position: absolute;

    

}
.footer__right__res{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.footer__left__res{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
   padding: 10px;
    margin-right: 40px    ;
    
}
.subline__res{
    display: flex;
    justify-content: space-between;
   align-items: flex-start;
   margin-left: 20px;
}
.right{
    margin-right: 10px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.cadiExpresse{

   font-size: 1.7vw;
}
.social__media{
    margin: 10px;

    
    
}
@media screen and (max-width: 768px)  {
 
    .social__media{
        margin: 5px;
        
    }
    
    }



