.productHome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 25px;
    margin-top: 5px;
  }
 
  
  .productHome__img {
    width: 150px;
    height: 150px;
    background: #232323;
    border-radius: 10px;
  }
  .productHomeBlack__img {
    width: 101px;
    height: 101px;
    background: #232323;
    border-radius: 10px;
  }
  
  .productHome__name {
    font-family: "Baloo Tammudu 2";
    font-weight: 384;
    font-size: 20.74px;
    color: #f2f2f2;
    line-height: 26px;
    margin-top: 7px;
    
  }
  .productHomeBlack__name{
    font-family: "Baloo Tammudu 2";
    font-weight: lighter;
    font-size: 20.74px;
    color:  #232323;
    line-height: 26px;
    margin-top: 7px;
  }
  .productHome__price {
    display: flex;
    font-family: "Baloo Tammudu 2";
    font-weight: 384;
    font-size: 20.74px;
    color: #f2f2f2;
    line-height: 26px;
   }
   .productHomeBlack__price{
    display: flex;
    font-family: "Baloo Tammudu 2";
    font-weight: bold;
    font-size: 20.74px;
    color:#232323;
    line-height: 26px;
   }
   .price__productHome{
     margin-right: 2px;
   }