.promo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 25px;
    margin-top: 5px;
  }

 .promo__bar{
     display: flex;
     justify-content: center;
     position: absolute;
     top: 10;
    width: 150px;
    height: 25px ;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color:red;
    color: #f2f2f2;
    text-align: center;
    z-index: 1;
 }
 .promoBlack__bar{
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10;
 width: 101px;
 height: 20px ;
 border-top-right-radius: 10px;
 border-top-left-radius: 10px;
 background-color:red;
 color: #f2f2f2;
 text-align: center;
 z-index: 1;
 }
  
  .promo__img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 10px;
  }
  .promoBlack__img {
    position: relative;
    width: 101px;
    height: 101px;
    border-radius: 10px;
  }
  
  .promo__name {
    width: 140px;
    font-family: "Baloo Tammudu 2";
    font-weight: 384;
    font-size: 20.74px;
    color: #f2f2f2;
    line-height: 26px;
    margin-top: 7px;
    text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
    
    
  }
  .promoblack__name{
    width: 100px;
    font-family: "Baloo Tammudu 2";
    font-weight: lighter;
    font-size: 20.74px;
    color: #232323;
    line-height: 26px;
    margin-top: 7px;
    text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
  }
  
  .promo__price {
    width: 140px;
    display: flex;
    font-family: "Baloo Tammudu 2";
    font-weight: 384;
    font-size: 20.74px;
    color: #f2f2f2;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

   }
   .promoblack__price{
    width: 100px;
    display: flex;
    font-family: "Baloo Tammudu 2";
    font-weight: bold;
    font-size: 20.74px;
    color: red;
    line-height: 26px;
    text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;

   }
   .price__promo{
   
     margin-right: 2px;
  
   }
   .old__price{
    width: 140px;
    text-decoration-line: line-through; 
    color:rgba(104, 97, 104, 0.911);
    line-height: 26px;
    margin-top: -12px;
    font-size: 19px;
    margin-bottom: 5px;
   text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
   }
   .space{
     margin-left: 3px;
   }